

.hidden {
    display:none;
}

h3{
    word-wrap: normal;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(138, 138, 138, 0.3);
    border-radius: 12px;
    

}

header{
    font-size: larger;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#time{
    margin-top: 30px;
    font-size: 50px;
}

#session-stats{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

#quote-output{
    font-size: 40px;
}

#trumpQuote{
    margin-top: 30px;
    background-color: red;
    font-size: 16px;
    padding: 15px 32px;
    margin-right: 20px;
    border-radius: 12px;
    cursor: pointer;
}

#yeQuote{
    margin-top: 30px;
    color: azure;
    background-color: blue;
    font-size: 16px;
    padding: 15px 32px;  
    border-radius: 12px;
    cursor: pointer;
}

#start{
    color: azure;
    background: linear-gradient(-60deg, red 50%, blue 50% );
    margin-top: 40px;
    font-size: 80px;
    border-radius: 12px;
    cursor: pointer;
}

#go-home{
    color: azure;
    background: linear-gradient(-60deg,blue 50%, red 50%);
    font-size: 30px;
    margin-top: 30px;
    border-radius: 12px;
    cursor: pointer;
}

.lastPage{
    font-size: larger;
}
#filled {
    color:green;
}
#unfilled {
    color:black;
}
#wrong {
    color:red;
}
#qpm-input {
    position: absolute;
    left:-500px;
}

.joke-style {
    font-family:'Anton', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 75px;
}

.initial-header {
    background-color: black;
    outline: 15px solid cadetblue;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 75px;
    text-align: center;
    color: white;
    text-shadow: cadetblue -3px 4px;
    margin-bottom: 45px;

}


