Containers
.item.containers > .nes-container {
  display: inline-block;
  max-width: 400px;
}

main{
    background-color: bisque;
    height: 95vh;
    margin-top: 15px;
    border: solid black 5px;
}

section.message-list {
  display:flex;
  flex-direction: column;
}
.message-list > .message {
  display: flex;
  margin-top: 2rem;
}
.message-list > .message > .nes-balloon {
  max-width: 550px;
}
.message-list > .message i {
  align-self: flex-end;
}
.message-list > .message.-left {
  align-self: flex-start;
}
.message-list > .message.-right {
  align-self: flex-end;
}
.message-list > .message.-left i {
  margin-right: 2rem;
}
.message-list > .message.-right i {
  margin-left: 2rem;
}

.icon-list > .blur-filter {
  filter: blur(10px);
}

/* Copied balloon */
.nes-balloon.copied-balloon {
    position: absolute;
    display: none;
    padding: 1rem;
    box-shadow: 0 5px 20px 5px rgba(0,0,0,.6);
    z-index: 1;
}

.timer-style{
    text-align: center;
}

.stats-style{
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);